<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon MVC</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container my-4">
    <h1><a href="/">PokeApi</a></h1>
    @RenderBody()
  </div>
</body>
</html>
